# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Zeeh-Lin's Page
description: Zeeh-Lin's personal blog
github_username: Zeeh-Lin
minimal_mistakes_skin: default
search: true
url: "https://Zeeh-Lin.github.io"

# Build settings
markdown: kramdown
kramdown:
  math_engine: mathjax
  input: GFM # GitHub Flavored Markdown
  hard_wrap: false
remote_theme: "mmistakes/minimal-mistakes@4.27.3"

# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: Asia/Shanghai # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Zeeh-Lin"
  avatar : "/assets/images/bio-photo.jpg"
  bio    : "Undergraduate student at Anhui University, majoring in Integrated Circuit Design and Integrated Systems."
  location : "Anhui, China"
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:ZihanLin501@163.com"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/Zeeh-Lin"
    - label: "Cnblogs"
      icon: "fas fa-fw fa-link"
      url: "https://www.cnblogs.com/Zeeh-Lin"

footer:
  since: "2025"
  links:
    - label: "Email"
      icon: "far fa-fw fa-envelope"
      url: "mailto:ZihanLin501@163.com"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/"
    - label: "Cnblogs"
      icon: "fas fa-fw fa-link"
      url: "https://www.cnblogs.com/Zeeh-Lin"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      mathjax: true
      toc: true
      toc_sticky: true
      author_profile: true
      read_time: true
      comments: true
      share: false
      related: true
      show_date: true
      enable_copy_code_button: true
      header:
        overlay_image: /assets/images/rod-long-unsplash.jpg
        overlay_filter: 0.5
        caption: "Photo by [**Rod Long**](https://unsplash.com/@rodlong?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText) on [**Unsplash**](https://unsplash.com/photos/turquoise-ocean-waves-gently-crash-on-a-sandy-beach-YLMnqzvXyhU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText)"
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
